.container {
    display: flex;
    justify-content: space-between ; /* Distribui os elementos com espaço entre eles */
    justify-content: center;
    align-items: flex-start;
    gap: 180px;
    padding: 20px;
    background-color: #f5f5f5;
    
}
