
.content-wrapper {
    width: 60%;
    height: 100%;
    padding: 20px;
    border: 3px solid #1877F2;
    border-radius: 20px;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.265);
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.relatorio {
    display: none;
    background-color: rgb(255, 255, 255);
    
}

.relatorio:target {
    display: block;
}

#default.ativo {
    display: block;
}

#botao_conclusao,#botao_exclusao,#botao_fotos {
    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: 3px solid #1877F2;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 1vh 2vw; /* Espaçamento interno do botão usando vh e vw */
    font-size: 1rem; /* Tamanho da fonte do botão em rem para manter consistência */
    margin-top: -3.7vh; /* Espaçamento acima do botão usando vh */
    
    
}

button:hover {
    background-color: #ffffff;
}
#trasmissao{
    background-color: #ffffff;
    display: inline-block;
    

}
/* Estrutura das colunas */
/* Estrutura das colunas */

.coluna {
    flex: 1;
   
}

/* Espaçamento entre o título principal e a linha de Título/Status */
#transmissao h2 {
    font-size: 2rem;
    margin-bottom: 7vh; /* Espaçamento abaixo do título principal "Relatório" */
}

/* Estrutura das colunas */
.relatorio-linha {
    display: flex;
    justify-content: space-between;
    margin-left: ;
    margin-top: 2vh; /* Espaçamento padrão entre linhas */
}

/* Espaçamento abaixo do título "Relatório" */
#transmissao h2 {
    margin-bottom: 7vh;
}

/* Espaçamento entre Título e Status e a Descrição do Erro */
/* Estilo para a descrição do erro - espaçamento abaixo */
.descricao-erro {
    font-size: 1.1rem;
    margin-bottom: 32vh; /* Ajuste o valor conforme necessário para o espaço entre a descrição e os itens abaixo */
}

.relatorio-linha {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* Diminui o espaço entre as colunas */
    margin-top: 2vh; /* Espaçamento entre as linhas */
}

/* Ajusta a largura das colunas */
.coluna {
    flex: 1 1 auto; /* Permite que as colunas ajustem seu tamanho de forma proporcional */
    width: auto; /* Pode ajustar a largura automática das colunas */
    
}

/* Ajusta o parágrafo dentro das colunas */
.coluna p {
    margin: 0; /* Remove margens padrão dos parágrafos */
    font-size: 1.1rem;
}

/* Ajuste na segunda linha para reduzir o espaço lateral */
.relatorio-linha:nth-of-type(2) {
    margin-top: 0; /* Remover qualquer margem superior, se necessário */
    margin-bottom: 2vh; /* Ajuste conforme necessário */
}

.coluna p {
    margin: 2.5vh 0; /* Espaço padrão entre parágrafos em cada coluna */
    font-size: 1.1rem;
}
/* Estilização dos botões */
.botoes {
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    
}
#coluna2{
    margin-left: -23vw;

}
#coluna_1{
    
}
#iconeditar{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 55%;
    margin-top: -5%;
    
}
